
/.idea

# laravel-ide-helper files
/_ide_helper.php
/.phpstorm.meta.php
/_ide_helper_models.php




/bootstrap/cache/*

/node_modules

# because in package.json dependencies is empty, only devDependencies
/package-lock.json

/public/storage/*
/public/hot

/storage/*
!/storage/app
/storage/app/*
!/storage/app/public
/storage/app/public/*
!/storage/framework
/storage/framework/*
!/storage/framework/cache
/storage/framework/cache/*
!/storage/framework/cache/data
/storage/framework/cache/data/*
!/storage/framework/sessions
/storage/framework/sessions/*
!/storage/framework/testing
/storage/framework/testing/*
!/storage/framework/views
/storage/framework/views/*
!/storage/logs
/storage/logs/*

/runtime/*

/vendor
/update.lock
/update.lock.tmp

/.env*
!/.env.example

!.gitkeep

*.log
.DS_Store
.htaccess
.well-known






#default laravel
#/node_modules
#/public/hot
#/public/storage
#/storage/*.key
#/vendor
#.env
#.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log